/* Container and Flex */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 72vh;
  border-radius: 35px;
  margin: 25px auto;
  border: 1px solid var(--border-color);
  background-color: var(--container-bg);
  box-shadow: -6px 7px 20px var(--container-shadow);
}