/* Footer */
.footer {
  background-color: var(--footer-bg);
  border: solid var(--footer-border) 1px;
  border-radius: 10px;
  width: 40vw;
  padding: 3px;
}

#footer_url:link,
#footer_url:visited {
  color: var(--footer-link-color);
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 17px;
  font-weight: 400;
}

#footer_url:hover {
  color: var(--footer-link-hover);
  background-color: var(--footer-link-hover-bg);
}

#footer_url:active {
  color: var(--footer-link-selection);
  background-color: var(--footer-link-selection-bg);
}

.footer-copy {
  font-size: 14px;
}

.footer-span {
  font-weight: 300;
  font-size: 14px;
}