/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 100em) {
  .prgph {
    font-size: 1.4rem;
  }
}

@media (max-width: 75em) {
  .container {
    width: 60vw;
  }

  .subheading {
    font-size: 2rem;
  }
}

@media (max-width: 63em) {
  .text {
    max-width: 85%;
  }

  .hlink:link,
  .hlink:visited {
    font-size: 1.5rem;
  }

  .heading {
    font-size: 2.7rem;
  }

  .subheading {
    font-size: 1.7rem;
  }

  .footer_url:link,
  .footer_url:visited {
    font-size: 1.5rem;
  }
}

@media (max-width: 57em) {
  .links-list {
    padding: .8rem .2rem;
  }

  .logo {
    font-size: 1.6rem;
  }

  .subheading {
    padding: 0 5rem;
    font-size: 1.5rem;
  }

  .prgph {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 45.875em) {
  .container {
    width: 70vw;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.5rem;
  }
}

@media (max-width: 39.375em) {
  .footer {
    width: 50vw;
  }

  .container {
    width: 80vw;
  }

  .footer_url:link,
  .footer_url:visited {
    font-size: 1.2rem;
  }

  .footer-logo {
    font-size: 1.4rem;
  }

  .footer-year {
    font-size: 1.1rem;
  }
}

@media (max-width: 34.375em) {
  .logo {
    display: none;
  }

  .footer .logo {
    display: contents;
  }
}

@media (max-width: 26.875em) {

  .hlink:link,
  .hlink:visited {
    font-size: 1.3rem;
  }
}

@media (max-width: 24.0625em) {
  .container {
    width: 90vw;
  }

  .text {
    -webkit-transform: translateY(-6rem);
    -ms-transform: translateY(-6rem);
    transform: translateY(-6rem)
  }
}

@media (max-width: 21.25em) {
  .links-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: .5rem;
  }

  .list-items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}